

<div class="container">
    <h1>Chef: <%= @chef.chefname %></h1>
    <hr class="mb-4">
    <div class="row">
            <div class="col-md-4">
            <%= gravatar_for @chef, size: 200 %>
            <hr>
            <%= link_to 'Back', recipes_path, class: 'btn btn-dark' %>
            <%= link_to 'Edit Profile', edit_chef_path(@chef), class: 'btn btn-dark' %>
            </div>
            <div class="col-md-8">
                <h3>Recipes:</h3>
                
                <% @chef.recipes.each do |recipe| %>
                    <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
                    <p>
                        <%= recipe.summary %>
                        <div class="text-left">
                            <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                            <i class="fa fa-thumbs-o-up text-dark" aria-hidden="true"></i>
                            <% end %> 
                            <%= recipe.thumbs_up_total %>
                            |
                            <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                            <i class="fa fa-thumbs-o-down text-dark" aria-hidden="true"></i>
                            <% end %>
                            <%= recipe.thumbs_down_total %>
                        </div>
                    </p>
                    <p>
                        <span class="quiet"><small>created: <%= time_ago_in_words(recipe.created_at) %> | </small></span>
                        <span class="quiet"><small>updated:  <%= time_ago_in_words(recipe.updated_at) %></small></span>
                    </p>
                <% end %>     
            </div>
    </div>
</div>