<%= render 'shared/page_title', title: "Create a new Ingredient" %>
<%= render 'shared/errors', obj: @ingredient %>

<div class="row">
    <div class="col-md-12 text-center">
        <%= form_for @ingredient do |f| %>
            <div class="form-group row">
                <div class="col-sm-3 text-right">
                    <%= f.label :name, class:"col-form-label" %>
                </div>
                <div class="col-sm-9">
                     <%= f.text_field :name, class: "form-control" %>
                </div>
            </div>
         
            <div class="col-sm-12 text-right">
                 <%= f.submit 'Create Ingredient', class: "btn btn-primary" %>
            </div>
            <% end %>
    </div>
</div>