<div class="container mt-5 mb-5">
    <div class="row text-center">
        <div class="col-md-4 pb-3">
            <div class="card" style="width: 20rem;">
              <%= image_tag("cert.jpg", class: "card-img-top", alt: "Front End Certification") %>
              <div class="card-block">
                <h4 class="card-title">Front End Certification</h4>
                <a href="https://www.freecodecamp.org/joshalen/front-end-certification" target="_blank" class="btn btn-primary btn-block">View on FreeCodeCamp</a>
              </div>
            </div>
        </div>
    </div>
    
    <div class="row text-center">

        <div class="col-md-4 pb-2">
            <div class="card" style="width: 20rem;">
              <%= image_tag("simonGame.PNG", class: "card-img-top", alt: "Simon Game") %>
              <div class="card-block">
                <h4 class="card-title">Simon Game</h4>
                <a href="https://codepen.io/Jseitz88/details/LORZMK" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
              </div>
            </div>
        </div>

        <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("tic_tac_toe.PNG", class: "card-img-top", alt: "Tic Tac Toe") %>
          <div class="card-block">
            <h4 class="card-title">Tic Tac Toe</h4>
            <a href="https://codepen.io/Jseitz88/details/yPJYgp" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

    
                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("pomodora_clock.PNG", class: "card-img-top", alt: "Pomodora Clock") %>
          <div class="card-block">
            <h4 class="card-title">Pomodora Clock</h4>
            <a href="https://codepen.io/Jseitz88/details/GOpxKr/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("javascript_calculator.PNG", class: "card-img-top", alt: "JavaScript Calculator") %>
          <div class="card-block">
            <h4 class="card-title">JavaScript Calculator</h4>
            <a href="https://codepen.io/Jseitz88/details/xPGQvr/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>
        

                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("json_api.PNG", class: "card-img-top", alt: "Twitchtv JSON API") %>
          <div class="card-block">
            <h4 class="card-title">Twitchtv JSON API</h4>
            <a href="https://codepen.io/Jseitz88/details/gXbJJX/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("wiki_viewer.PNG", class: "card-img-top", alt: "Wikipedia Viewer") %>
          <div class="card-block">
            <h4 class="card-title">Wikipedia Viewer</h4>
            <a href="https://codepen.io/Jseitz88/details/OOPdrz/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("local_weather.PNG", class: "card-img-top", alt: "Local Weather") %>
          <div class="card-block">
            <h4 class="card-title">Local Weather</h4>
            <a href="https://codepen.io/Jseitz88/details/eeYKVq/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

            <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("quote_machine.PNG", class: "card-img-top", alt: "Random Quote Machine") %>
          <div class="card-block">
            <h4 class="card-title">Random Quote Machine</h4>
            <a href="https://codepen.io/Jseitz88/details/GOgXao/" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>

                <div class="col-md-4 pb-2">
                    <div class="card" style="width: 20rem;">
          <%= image_tag("tribute_page.PNG", class: "card-img-top", alt: "Tribute Page") %>
          <div class="card-block">
            <h4 class="card-title">Tribute Page</h4>
            <a href="https://codepen.io/Jseitz88/details/GOgBLz" target="_blank" class="btn btn-primary btn-block">View on CodePen</a>
          </div>
        </div>
        </div>


</div> <!-- end of row --> 
</div> <!-- end of container -->
