<div class="container pb-5">
    <div class="row">
        <div class="col-md-4 box linear-gradient-purple">
            <div class="text-white text-center">
                <h4 class="text-shadow pt-5">FreeCodeCamp Projects</h4>
                <%= link_to '<i class="fa fa-search" aria-hidden="true"></i> view'.html_safe, free_code_camp_index_path, class: 'pr-4 pl-4 mt-4 mb-5 btn btn-primary'%>
            </div>
        </div>
        <div class="col-md-4 box linear-gradient-purple " style="padding: 0; margin: 0;">
           <%= image_tag("pet.jpg", alt: "pet", class: 'pet-image') %>
        </div>
        
        <div class="col-md-4 box linear-gradient-purple text-center">
             <h2 class="text-white text-center text-shadow pt-5">About Me</h2>
             <%= link_to '<i class="fa fa-search" aria-hidden="true"></i> view'.html_safe, welcome_pages_about_me_path, class: 'pr-4 pl-4 mt-4 mb-5 btn btn-primary block'%>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 box linear-gradient-purple " style="padding: 0; margin: 0;">
           <%= image_tag("work.jpg", alt: "pet", class: 'pet-image') %>
        </div>
        <div class="col-md-4 box linear-gradient-purple text-center">
             <h2 class="text-white text-center text-shadow pt-5">Food Recipes App</h2>
             <%= link_to '<i class="fa fa-search" aria-hidden="true"></i> view'.html_safe, recipes_path, class: 'pr-4 pl-4 mt-4 mb-5 btn btn-primary block'%>
        </div>
        <div class="col-md-4 box linear-gradient-purple " style="padding: 0; margin: 0;">
           <%= image_tag("nature.jpg", alt: "pet", class: 'pet-image') %>
        </div>
    </div>
</div>

